apiVersion: apps/v1
kind: Deployment
metadata: 
  name: myweb-app
  labels:
    app: webapp
spec:
  replicas: 1
  selector:
    matchLabels: 
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers: 
        - name: mycontainerwebapp
          image: custom-sample:latest
        ports:
        - containerPort: 8090
        
